{{ define "main" }}
<main>
  <section class="contact-page">

    <div class="contact-section px-custom py-custom text-white row">
      <h1>Have a hiring requirement? Let's connect!</h1>
      <div class="col-md-8 mx-auto">
        <div class="contact-options">
          <div>
            <p>Need more info?</p>
            <a href="mailto:info@successsolutions.in">info@successsolutions.in</a>
          </div>
          <div>
            <p>Prefer to reach out to our mentor directly?</p>
            <a href="mailto:link2rmd@gmail.com">link2rmd@gmail.com</a>
          </div>
          <div>
            <p>Would you like to talk to us?</p>
            <a href="tel:+919962006364">+91 9962006364</a>
          </div>
        </div>
        <form class="contact-form">
          <div class="form-floating mb-3">
            <input type="text" class="form-control border-bottom-only" id="name" name="name" placeholder="Name"
              required>
            <label for="name">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control border-bottom-only" id="company" name="company"
              placeholder="Company">
            <label for="company">Company</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control border-bottom-only" id="email" name="email" placeholder="Email"
              required>
            <label for="email">Email</label>
          </div>
          <div class="form-floating mb-3">
            <input type="tel" class="form-control border-bottom-only" id="phone" name="phone" placeholder="Phone">
            <label for="phone">Phone</label>
          </div>
          <button type="submit" class="btn btn-primary w-100">Send</button>
        </form>

        <div class="map-image">
          <img src="/images/logo/Success-Solutions-logo-4.jpeg" alt="Success Solutions Logo" />
        </div>
      </div>
    </div>

  </section>
</main>
{{ end }}