{{ define "main" }}
<section class="hero min-vh-100 py-5 px-custom d-flex align-items-center">
  <div class="row align-items-center justify-content-between h-100">
    <div class="col-md-7 content px-custom">
      <h1 class="title display-3 fw-bold mb-0">"A Company is As Great As The People Who Work For it"</h1>
      <h4 class="subtitle my-4 my-md-3">Your <strong>people.....</strong> is ..... your <span class="text-gold fw-bold">SUCCESS</span></h4>
      <h2 class="desc fst-italic mb-0">We craft solutions for the success of your people and organization.</h2>
      <a href="#" class="btn btn-light mt-3">Learn More</a>
    </div>
    <div class="col-md-4 mt-4 mt-md-0">
      <img src="/images/crafting-50.png " alt="crafting img">
      <a href="https://www.freepik.com/free-photo/professional-artisan-job-workshop_11760947.htm#fromView=search&page=1&position=2&uuid=2eaaa70e-24c8-4d4e-a22e-3660ceb3440e">Image by freepik</a>
    </div>
  </div>
</section>
<!-- 2nd sec -intro -->
<section class="intro py-5 px-custom d-flex align-items-center">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="text-primary main-heading mb-3">
          Success Solutions is a synonymous name to expatriate hiring for its global clients
        </h1>
        <h2 class="text-accent sub-heading fst-italic">
          Welcome to one-stop expatriate hiring consulting solution provider
        </h2>
      </div>
    </div>
</section>
<!-- quotes sec -->
<section class="people-foremost py-5 px-3">
  <div class="container">
    <div class="intro-text mb-4">
      <h2 class="heading fst-italic">Why People Are Foremost?</h2>
    </div>
    <div class="quotes-grid">
      <!-- Quote 1 -->
      <div class="quote-item">
        <img src="/images/steve-jobs.png" alt="Steve Jobs" class="person-img" />
        <blockquote>
          <p>
            "It doesn't make sense to hire smart people and tell them what to do; 
            we hire smart people so they can tell us what to do."
          </p>
          <cite>Steve Jobs <span class="year">1955 - 2011</span></cite>
        </blockquote>
      </div>
      <!-- Quote 2 -->
      <div class="quote-item">
        <img src="/images/richard-pascale.png" alt="Richard Pascale" class="person-img" />
        <blockquote>
          <p>
            "Great companies make meaning. A company has a name, but its people give it meaning."
          </p>
          <cite>Richard Pascale <span class="year">1938 - 2024</span></cite>
        </blockquote>
      </div>
      <!-- Quote 3 -->
      <div class="quote-item">
        <img src="/images/zig-ziglar.png" alt="Zig Ziglar" class="person-img" />
        <blockquote>
          <p>
            "You don't build the business. You build people. Then people build your business."
          </p>
          <cite>Zig Ziglar <span class="year">1926 - 2012</span></cite>
        </blockquote>
      </div>
    </div>
  </div>
</section>


{{ end }}