{{ define "main" }}
<main>
  <section class="page-title d-flex align-items-center">
    <div class="container text-center py-5">
      <h1 class="display-4">{{ .Title }}</h1>
    </div>
  </section>
  <section class="py-5 container">
    <!-- <h1>{{ .Title }}</h1> -->
    <div class="row justify-content-around align-items-center">
      <div class="col-md-3 order-md-2">
        <img src="{{ .Params.Image }}" alt="{{ .Name }}
        " class="img-fluid">
      </div>
      <div class="col-md-6 mt-4 mt-md-0">{{ .Content }}</div>
    </div>
  </section>
</main>
{{ end }}