.contact-page {
  background: $primary-color url(/images/hero.jpg) no-repeat fixed center center / cover;
  background-blend-mode: multiply;
  color: $white;

  .contact-section {
    text-align: center;

    h1 {
      // font-size: 1.8rem;
      font-weight: 500;
    }

    .contact-options {
      p {
        font-size: 1.1rem;
        font-weight: 500;
        // margin-bottom: 5p;
      }

      a {
        // color: $;
        font-weight: bold;
        // text-decoration: none;
      }
    }

    .contact-form {
      .form-floating {
        position: relative;

        .form-control {
          border: none;
          border-bottom: 2px solid #ccc;
          border-radius: 0;
          background: transparent;
          // padding-left: 0;
          padding-top: 3rem;
          box-shadow: none;
          font-size: 1.3rem;
          transition: all 0.3s ease;
          caret-color: $accent-color; // Change the cursor color here
          color: $white !important;

          &:focus {
            outline: none;
            border-bottom-color: $accent-color;
            color: $white !important;
          }
        }

        label {
          color: $white;
          font-size: 1.2rem;
          font-weight: 500;
          padding-left: 0;
        }
      }
    }

    .form-floating>.form-control-plaintext~label::after,
    .form-floating>.form-control:focus~label::after,
    .form-floating>.form-control:not(:placeholder-shown)~label::after,
    .form-floating>.form-select~label::after {
      background-color: transparent;
    }
  }
}