@import 'variables';
@import 'utilities';

// first hero section
// hero-sm
.hero-sm {
  background: $primary-color url('/images/hero-bg-sm.jpg') no-repeat fixed center center/cover;
  background-blend-mode: multiply;
  color: $white;
  text-align: center;
}

.hero {
  background-color: $primary-color;
  background: linear-gradient(145deg, #00534a, #006258);
  color: $background-color;

  img {
    width: 70%;
    display: block;
    margin-inline: auto;
    @include border-radius;
    box-shadow: -12px -12px 30px #006359,
                 12px  12px 30px #00af9d;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }
  }

  .content {
    .title {
      font-weight: 500;
      line-height: 1.4;
    }

    .subtitle,
    .desc {
      line-height: 1.4;
    }
  }
}

// 2nd section company intro
.intro {
  // min-height: 40vh;
  position: relative;
  background-color: $background-color;

  .rotating-blob {
    position: absolute;
    top: 2%;
    left: 2%;

    .rotate {
      width: 100px;
      height: 100px;
      animation-name: ani-rotate;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      // @media(min-width:768px){
      //   width: 150px;
      //   height:150px;
      // }
    }

    @keyframes ani-rotate {
      0% {
        transform: rotate(0);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;

    @media (min-width: 768px) {
      font-size: 2.4rem;
    }
  }

  .subtitle {
    color: $secondary-color;
    font-size: 1.3rem;
    // font-weight: 400;
    line-height: 1.4;
    margin-top: 1rem;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }


}

// 3rd section quotes
.quotes-img{
  .quotes-col{
    // border: 1px solid white;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: url(/images/Ripple-Line-cropped.png) no-repeat bottom center/100% auto;
    }
  }
  img{
    // box-shadow bottom
    // box-shadow: 0px 0px 10px rgba(240, 228, 228, 0.671);
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Adjust values for shadow effect */  

  }
}

// 4th sec what we do
.people-success {
  background-color: $background-color;

  .title {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .image-wrapper {
    img {
      // width: 100%;
      @include border-radius; // Uses default 10px
      box-shadow: 13px  13px 21px #9c9c9c,
               -13px -13px 21px #ffffff;
      
    }

    a {
      color: $primary-color;
    }
  }

  // .description {
  //   // color: $text-muted;
  //   // font-size: 1.2rem;
  //   // line-height: 1.6;
  //   // text-align: left;
  // }

  // Grid layout for min-width: 768px
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "title image ."
      ". image desc";
    align-items: center;
    gap: 2rem;

    .title {
      grid-area: title;
      font-size: 2.5rem;
    }

    .image-wrapper {
      grid-area: image;

      .responsive-img {
        max-width: 400px;
      }
    }

    .description {
      grid-area: desc;
      font-size: 1.5rem;
    }
  }
}

// 5th sec challenges animations 
.challenges-section {
  min-height: 70vh;
  overflow-x: hidden;

  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(28, 42, 72, 0.8) 70%, rgba(0, 255, 198, 0.8) 100%);
    z-index: 2;
  }

  .content-wrapper {
    z-index: 3;
    @media(min-width:768px) {
      max-width: 800px;
      width: 80%;
    }
    .typing-text {
      font-size: 1.3rem;
      font-style: italic;
      font-weight: bold;
      color: white;
      z-index: 3;

      @media(min-width:768px) {
        font-size: 2.3rem;
      }
    }

    .sliding-items {
      font-size: 1.4rem;
      color: $accent-color;
      overflow: hidden;
      z-index: 3;
      font-weight: 600;

      @media(min-width:768px) {
        font-size: 2rem;
      }

      span {
        display: inline-block;
        opacity: 0;
        animation: slide-in-out 3s ease-in-out forwards;
      }
    }

    @keyframes slide-in-out {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }

      10%,
      80% {
        transform: translateX(0);
        opacity: 1;
      }

      100% {
        transform: translateX(100%);
        opacity: 0;
      }
    }

    .final-paragraph {
      // font-size: 1.2rem;
      text-align: left;
      animation: slide-in-final 1s forwards ease-in-out;
      color: white;
      z-index: 3;
      @media(min-width:768px) {
        font-size: 1.3rem;
      }

      ul {
        list-style: none;
        padding-left: 0;

        li {
          position: relative;
          padding-left: 30px;
          margin-bottom: 0.5rem;
          margin-left: 1rem;

          &::before {
            content: '\f058'; // FontAwesome icon (circle check)
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            color: #f0c75e; // Custom icon color
          }
        }
      }
    }
  }

  @keyframes slide-in-final {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

// 6th sec job seekers puzzle 
.maze-section {
  min-height: 70vh;

  img {
    box-shadow: 13px 13px 21px #9c9c9c,
      -13px -13px 21px #ffffff;
    @include border-radius; // Uses default 10px

    @media(max-width:768px) {
      width: 90%;
      display: block;
      margin-inline: auto;
    }
  }

  .subtitle {
    line-height: 1.4;

    span {
      color: $accent-color--dark;
    }
  }

  .title {
    font-weight: 500;
  }

  .description {
    font-size: 1.1rem;
  }
}

// sec 7 about
.about-section {
  background-color: $primary-color;
  color: $white;

  .content {

    // .blob-wrapper {
    //   display: none;
    //   position: absolute;
    //   top: -30px;
    //   left: -10px;
    //   width: 80px;
    //   height: 80px;

    //   .blob-shape {
    //     width: 100%;
    //     height: 100%;
    //   }
    // }

    .title {
      // font-size: 2.5rem;
      font-weight: 500;
      // margin-bottom: 1rem;
    }

    .description {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 1.5rem;
    }
  }

  img {
    @include border-radius; // Uses default 10px
    box-shadow: -12px -12px 30px #006359,
                 12px  12px 30px #00af9d;
    @media(min-width:768px) {
      @include border-radius(0); // Uses default 10px
      min-height: 70vh;
      object-fit: cover;
      box-shadow: none;

    }
  }


}

// 8th sec search sols and serv
.global-section {
  background-color: $background-color;
  color: $primary-color;
  .title {
    font-weight: 500;
  }

  .service-card {
   
    .service-icon {
      font-size: 1.5rem;
    }

    .service-title {
      // font-size: 1.2rem;
      // font-weight: bold;
    }
  }
}

// 9th sec core serv
.core-services-section {
  background-color: $primary-color;

  .title {
    // font-size: 2.2rem;
    font-weight: 500;
    color: $background-color;
  }
  .service-card {
    background: $primary-color;
    box-shadow:
      -12px -12px 30px #006359,
      12px 12px 30px #00af9d;
    color: white;
    .service-title {
      font-size: 1.1rem;
      // line-height: 1.3;
    }

    .btn {
      i {
        font-size: 2rem;
        color: $accent-color;
      }
    }
  }

}

// 10th sec approach
.approach-section {
  background: $primary-color url('/images/global-executive-search.webp') no-repeat fixed center center/cover;
  background-blend-mode: color-burn;
  color: white;

  .title {
    font-weight: 500;
  }
  .glass-card {
    background: rgba( 54, 70, 78, 0.75 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 0.1rem );
      -webkit-backdrop-filter: blur( 0.1rem );
    // box-shadow: 0 4px 6px $shadow-color, 0 1px 3px $shadow-color;
    box-shadow:   
        0 8px 15px $shadow-color-deep,  /* Deeper shadow for more depth */  
        0 4px 6px $shadow-color,  
        0 1px 3px $shadow-color !important;         /* Lighter shadow for subtlety */  
  @media(min-width:768px) {
    width: fit-content;
  }
    &:hover {
      transform: translateY(-10px);
    }

    i {
      font-size: 1.5rem;
      color: $accent-color;
      // margin-bottom: 1rem;
    }

    a {
      margin-left: auto;
    }

  }

}

// sec 11 - usp
.usp {
  background: $background-color url(/images/vertical-wave-bg.png)no-repeat fixed center center/cover;
  color: $primary-color;

  .title {
    font-weight: 500;
    line-height: 1.4;
    // margin-bottom: 2rem;
  }

  .card-container {
    .card {
      background: transparent;
      border: none;
      padding: 1rem 1.3rem;
      // text-align: center;  
      transition: transform 0.3s, box-shadow 0.3s;
      display: flex;
      // align-items: center; // Centering icon and text  
      // margin-right: 2rem; // Gap between card and image  

      .icon-title {
        display: flex;
        align-items: center;
        gap: 1rem; // Space between icon and text  
        h6{
          color: $primary-color;
        }

        i {
          font-size: 2rem;
          color: $primary-color;
        }
      }
    }

  }

  &::before {
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    // transform: translateX(-50%);
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 50%, $primary-color 50%);
    z-index: 0; // Place behind card and image  
    clip-path: ellipse(100% 50% at 50% 50%);
  }
}