@import './typography';
@import 'variables';
@import 'utilities';

html{

    scroll-behavior: smooth;

    @media(max-width:425px){
        font-size: 15px;
    }
}
body{
  // padding-top: $navbar-height;
    // background-color: $background-color;
  color: $text-color;
    overflow-x: hidden;
    font-family: $font-Noto-sans;
  font-optical-sizing: auto;
}

img{
    max-width: 100%;
    height: auto;
}
a {
    color: $accent-color;
    &:hover {
      // color: $accent-color--dark;
      opacity: 0.8;
    }
  }

  
