// Common styles for the hero section
.page-hero {
  background: no-repeat center center;
  background-size: cover;
  min-height: 50vh; // Ensure the section is at least 50% of the viewport height
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff; // Default text color for contrast

  // Background color blending
  background-color: $primary-color; // Dark color to blend with the image
  background-blend-mode: soft-light;

  // Typography
  h1 {
    //   font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
}

// Specific variations for pages
.about-hero {
  @extend .page-hero;
  // background-color: rgba(33, 37, 41, 0.6); // Darker blend for About pages
}

.contact-hero {
  @extend .page-hero;
  // background-color: rgba(52, 152, 219, 0.5); // Light blue tint for Contact pages
}

// Responsive adjustments
@media (max-width: 768px) {
  .page-hero {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

.singlegrid {
  img {
    min-height: 400px;
    object-fit: cover;
    @include border-radius; // Uses default 10px

  }
}

.main-section {
  background: linear-gradient(145deg, #d8e6e4, #ffffff);
  // &:nth-of-type(even){
  //   background-color: $primary-color;
  // }
}

.content-section {
  &:nth-of-type(even) {
    background: #1f1f1f url(/images/Ripple-Line.svg) no-repeat bottom center/100% auto;
    color: $white;

    img {
      box-shadow: 3px 8px 8px #3b3b3b,
        -3px -8px 8px #1f1f1f;
    }

    .text-content {
      background: #1f1f1f;
      box-shadow: inset 14px 14px 28px #181818,
        inset -14px -14px 28px #262626;
    }
  }

  .text-content {
    @include border-radius;
    padding: 1rem;
    background: #FAFAFA;
    box-shadow: inset 14px 14px 28px #c6c6c6,
      inset -14px -14px 28px #ffffff;
  }

  img {
    @include border-radius; // Uses default 10px

    box-shadow: 13px 13px 21px #9c9c9c,
      -13px -13px 21px #ffffff;
  }
}