$primary-color: #00897B;  // Primary - Teal
$secondary-color: hsl(200, 18%, 26%);  //#37474f Secondary - Blue Gray
$accent-color: #FFD54F;  // Accent - Amber
$accent-color--dark: hsl(46, 100%, 35%);  //
$text-color: #212121;  // Dark text
$background-color: #FAFAFA;  // Light background
$white: #fff; // White
$text-muted: #757575;

// Example Usage


header, footer {
  background-color: $secondary-color;
  color: $background-color;
}
