$primary-color: #00897B;  // Primary - Teal
$secondary-color: hsl(200, 18%, 26%);  //#37474f Secondary - Blue Gray
$accent-color: #FFD54F;  // Accent - Amber
$accent-color--dark: #b38900;  //
$text-color: #212121;  // Dark text
$background-color: #FAFAFA;  // Light background
$white: #fff; // White
$text-muted: #757575;

$navbar-height: 10vh;
// Example Usage


header, footer {
  background-color: $secondary-color;
  color: $background-color;
}
